[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
Assets/Pet Avatars/Puppy/Puppy_Dalmatian/FBX/Anim
Assets/Pet Avatars/Puppy0716/Asset/Dog_0819
Assets/Pet Avatars/Puppy0716/Asset/new_dog
Assets/Pet Avatars/Puppy0716/Asset/Realistic
Assets/Pet Avatars/Domestic Animals(short)

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.db
*.resS
*.zip
*.ckpt

.DS_Store
Thumbs.db
